<div data-controller="<%= params[:id] %>">
  <p><canvas data-target="<%= params[:id] %>.canvas" width="800" height="600"></canvas></p>
  <p><button data-action="<%= params[:id] %>#run">Run!</button></p>
  <p><pre data-target="<%= params[:id] %>.output"></pre></p>
</div>
