:root {
  font-family: ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 100%;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav {
  display: flex;
  gap: 8px;
}

a.home {
  text-decoration: none;
}

a + a::before {
  content: '|';
  padding-right: 8px;
  pointer-events: none;
  display: inline-block;
  color: lightslategray;
}

h1.select {
  margin-left: 40px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  padding: 32px;
  margin: auto;
}

section.-running button {
  pointer-events: none;
}

section:not(.-running) button .hourglass {
  display: none;
}

section.-running button .play {
  display: none;
}

header {
  display: flex;
  gap: 16px;
  align-items: center;
}

header h1 {
  margin: 0;
}

button {
  font-size: 1.5em;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

button:hover {
}

main {
  display: flex;
  gap: 8px;
}

canvas {
  background-image: url('/mandelbg.svg');
  border: 1px solid black;
  align-self: flex-start;
}

.output {
  border: 1px solid black;
  align-self: stretch;
}

pre {
  height: 0;
  min-height: 100%;
  margin: 0;
  width: 300px;
  padding: 8px;
  overflow: auto;
}
