:root {
  font-family: ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 100%;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

button {
  font-size: 1.5em;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

body.-running button {
  pointer-events: none;
}

body:not(.-running) button::before {
  content: '▶️'
}

body.-running button::before {
  content: '⏳️'
}

main {
  background-image: url('/mandelbg.svg');
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1;
  position: relative;
  display: flex;
}

canvas {
  flex-grow: 1;
  width: 0;
  height: 0;
  min-width: 100%;
  min-height: 100%;
}

.message {
  margin-left: auto;
  color: gray;
  font-style: italic;
  font-size: 0.75rem;
}

body.-error .message {
  color: red;
}

body.-error main {
  background: repeating-linear-gradient(-45deg, rgba(255, 0, 0, 0.25), rgba(255, 0, 0, 0.25) 0.5rem, transparent 0.5rem, transparent 1rem);
  background-size: auto !important;
}

.repo {
  opacity: 0.5;
}

.repo:hover {
  opacity: 1.0;
}
